/*** Global Style ***/
html {
  background: none;
  font-family: "source sans pro", "Helvetica None", sans-serif;
  font-size: 100%;
  line-height: 120%;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a:active, a:hover {
  outline: 0;
}
a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

/*** Layout ***/
header {
  min-width: 768px;
  max-width: 99.9%;
  width: 100%;
  position: relative;
}
.main-container {
  margin: 56px auto 0;
}

.main { overflow: hidden; }
.col-left {
  width: 260px;
  position: relative;
  float: left;
  border-right: 1px solid #dbdbdb;
  background: rgb(235, 237, 243);
  /* fix sidebar 100% height of page */
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}
.col-right {
  margin-left: 261px;
  min-width: 546px;
  min-height: 500px;
  /* TODO should use js to control */
  padding: 0;
  position: relative;
}

/*** Header ***/
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-bottom-width: 0;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}
.header-logo-container {
  margin: 0;
  float: left;
}
.header-logo-container a {
  width: 136px;
  height: 27px;
  text-shadow: none;
  text-decoration: none;
  padding: 13px 24px 15px;
  color: rgb(0, 147, 239);
  display: block;
}

/*** Sidebar Navigation ***/
.view-region-nav {
  padding: 13px 0 0;
}
.dr-list, .dr-list-item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  position: relative;
  min-height: 2.063em;
}
.dr-label {
  border: 1px solid transparent;
  font-size: 0.913em;
  color: #333;
  padding: 0.423em 0 0.500em 48px;
  outline: none;
  text-shadow: 0px 1px #fff;
}
.dr-label:hover {
  background-color: #e8e8e8;
  border-top-color: #e7e7e7;
  border-bottom-color: #f0f0f0;
  cursor: pointer;
}

/*** Feed Content ***/

/** Article list **/
#article-list {
  width: 350px;
  float: left;
  border-right: 1px solid #ccc;
  height: 690px;
  overflow-y: scroll;
}
#article-list #no-feed {
  width: 320px;
  margin: 20px auto 0;
  height: 650px;
  border-radius: 5px;
  border: 3px dashed rgb(227, 231, 234);
}
.article-list article {
  height: 90px;
  border-bottom: 1px solid #ccc;
}
.article-list article:hover {
  background-color: #fafafa;
  cursor: pointer;
}
  .article-list article .icon {
    float: left;
    width: 40px;
    height: 100%;
  }
  .article-list article .meta {
    float: left;
    width: 310px;
    height: 100%;
  }
    .article-list article .meta .feed-title {
      height: 25px;
      line-height: 25px;
      color: rgb(81, 123, 184);
    }
    .article-list article .meta .article-title {
      font-weight: bold;
      width: 280px;
      font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
      height: 60px;
      overflow: hidden;
    }

    .article-list article.readed .meta {
      opacity: 0.7;
    }
    .article-list article.readed .meta .article-title {
      color: #444;
    }

/** Article Detail **/
#article-detail {
  margin-left: 351px;
  position: relative;
  height: 690px;
  overflow-y: scroll;
}

#article-detail #no-content {
  background-color: rgb(234, 234, 234);
  height: 100%;
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 300px;
  font-size: 2em;
}

.article-detail-wrapper {
  width: 600px;
  margin: 0 auto;
}
.article-detail {
  margin-top: 2em;
}
  /* article body */
  .article-body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.938rem;
    line-height: 1.467em;
    -webkit-font-smoothing: auto;
  }
    .article-body img {
      max-width: 600px;
      height: auto;
    }
    .article-body a {
      color: #0093cc;
    }
    .article-body a:hover {
      color: #000;
    }

  /* article title */
  .article-detail .article-title {
    margin: 0;
    font-size: 1.563rem;
    line-height: 1.200em;
  }
    .article-detail .article-title a {
      color: #111;
      text-decoration: none;
    }

  /* article meta */
  .article-meta {
    color: #555;
    font-size: 13px;
    margin: 0.125em 0 1em;
  }
    .article-meta-item {
      margin-right: 1px;
      position: relative;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .article-meta-item, .article-meta-item-link {
      padding: 2px 4px;
      color: #606060;
      display: inline-block;
    }
    .article-meta-item:before {
      color: #666;
      content: '\00B7';
      position: absolute;
      margin: 0 0 0 -8px;
    }
    .article-meta-item:first-child {
      padding-left: 0;
    }
    .article-meta-item:first-child:before {
      content: none;
      margin: 0;
    }
