<div id="no-feed" ng-if="articles.length == 0" resize ng-style="listResizeWithOffset()"></div>
<div ng-if="articles.length != 0">
  <div class="article-list" ng-repeat="article in articles">
    <article class="{{ article.readed ? 'readed' : '' }}" ng-click="setArticle(article)">
      <div class="icon">
      </div>
      <div class="meta">
        <div class="feed-title">{{ article.feed_title }}</div>
        <div class="article-title">{{ article.title }}</div>
      </div>
    </article>
  </div>
</div>
